<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>PyStat</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/css-toggle-switch@latest/dist/toggle-switch.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-bootstrap/0.5pre/assets/css/docs.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/css/bootstrap4-toggle.min.css"
        rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/js/bootstrap4-toggle.min.js"></script>


    <script type="text/javascript">

        $(function () {
            $('#power_switch').change(function () {
                SubmitTargets()
            })
        })

    
        function ChangeTemperature(amount) {
            var temperatureInput = $("#temperatureInput");
            var temperature = parseFloat(temperatureInput.val());
            temperature += amount;
            temperatureInput.val(temperature.toFixed());
            SubmitTargets();

        }

        function SubmitTargets() {
            var form = document.createElement("form");
            form.setAttribute("method", "post");
            form.setAttribute("action", "");

            var power = 0;
            if ($('#power_switch').prop('checked')) {
                power = 1;
            } 

            var temperature = $("#temperatureInput").val();

            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", "power");
            hiddenField.setAttribute("value", power);
            form.appendChild(hiddenField);

            hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", "temperature");
            hiddenField.setAttribute("value", temperature);
            form.appendChild(hiddenField);

            document.body.appendChild(form);
            form.submit();
        }

        $(document).ready(function () {
            {% if 1 == powerMode %}
            $("#power_switch").attr("checked",true);
            {% else  %}
            $("#power_switch").attr("checked",false);
            {% endif %}

            {% if heatRunning == 1 %}
            $("#heatIndicator").addClass("red");
            {% endif %}

            window.setInterval(function () {
                $.ajax({
                    url: "/update",
                    context: document.body
                }).done(function (data) {
                    heatRunning = data["heatRunning"];
                    indoorTemperature = data["currentTemperature"];
                    currentTarget = data["currentTarget"];
                    powerMode = data["powerMode"];

                    $("#indoorTemperature").text(indoorTemperature +
                        String.fromCharCode(176));
                    $("#targetTemperature").text(currentTarget +
                        String.fromCharCode(176));

                    if (heatRunning == 1) {
                        $("#heatIndicator").addClass("red");
                    } else {
                        $("#heatIndicator").removeClass("red");
                    }
                    if (powerMode == 1) {
                        $("#power_switch").attr("checked", true);
                    } else {
                        $("#power_switch").attr("checked", false);
                    }

                });
            }, 20000);
        });
    </script>

</head>
<body id="contentBody" class="mainContent">
    <div class="container">
        <div class="p-3 mb-2 bg-dark text-white">
            <h3>Power</h3>
            <div class="row">
                <div class="col text-center">
                    <input type="checkbox" id="power_switch" data-toggle="toggle" data-on="Heater On" data-off="Off" data-onstyle="danger" data-offstyle="primary" data-style = "fast">
                </div>
                <div class="col text-center">
                    <button id="heatIndicator" class="btn btn-outline-danger">
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="p-3 mb-2 bg-dark text-white">
            <h3>Current</h3>
            <div class="row">
                <div class="col text-center">
                    <p class="currentTemp" id="indoorTemperature">{{ currentTemperature }}&deg;</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="p-3 mb-2 bg-dark text-white">
            <h3>Target</h3>
            <div class="row">
                <div class="col text-center">
                    <button id="down1" class="btn btn-primary btn-lg modeButton" onclick="ChangeTemperature(-1)">
                        -1
                    </button>
                </div>
                <div class="col text-center">

                        <input class = "form-control-temp" id="temperatureInput" value={{ currentTarget }} type="text">


                </div>
                <div class="col text-center">
                    <button id="up1" class="btn btn-danger btn-lg modeButton" onclick="ChangeTemperature(1)">
                        +1
                    </button>

                </div>
            </div>
        </div>
    </div>

</body>

<style>
.form-control-temp {
    font-size: 300%;
    background-color: #343a40;
    color: white;
    border: 0;
    box-shadow: none;
    text-align: center;
    width: 35%;
    height: 65%;/* You may want to include this as bootstrap applies these styles too */
}

.currentTemp {
    font-size: 300%;
    background-color: #343a40;
    color: white;
    border: 0;
    box-shadow: none;
    text-align: center;
}
.modeButton {
    width: 80px;
    height: 45px;
}

.fast  .toggle-group { transition: left 0.1s; -webkit-transition: left 0.1s; }

</style>
</html>