<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>PyStat</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/css-toggle-switch@latest/dist/toggle-switch.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-bootstrap/0.5pre/assets/css/docs.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>

    <script type="text/javascript">
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

    <script type="text/javascript">
        function manual_on_toggle(currentValue) {
            var manual_on_button = $("#manual_on_button");
            if(manual_on_button.hasClass("red")) {
                manual_on_button.removeClass("red");
            } else {
                manual_on_button.addClass("red");
                $("#manual_off_button").removeClass("blue");
            }
        }

        function manual_off_toggle(currentValue) {
            var manual_off_button = $("#manual_off_button");
            if(manual_off_button.hasClass("blue")) {
                manual_off_button.removeClass("blue");
            } else {
                manual_off_button.addClass("blue");
                $("#manual_on_button").removeClass("red");
            }
        }



        function ChangeTemperature(amount) {
            var temperatureInput = $("#temperatureInput");
            var temperature = parseFloat(temperatureInput.val());
            temperature += amount;
            temperatureInput.val(temperature.toFixed(0))
        }

        function SubmitTargets() {
            var form = document.createElement("form");
            form.setAttribute("method", "post");
            form.setAttribute("action", "");


            var manual_on = 0;
            if ($("#manual_on_button").hasClass("red")) {
                manual_on = 1;
                }

             var manual_off = 0;
                if ($("#manual_off_button").hasClass("blue")) {
                manual_off = 1;  
                }   

            var temperature = $("#temperatureInput").val();

            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", "manual_on");
            hiddenField.setAttribute("value", manual_on);
            form.appendChild(hiddenField);

            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", "manual_off");
            hiddenField.setAttribute("value", manual_off);
            form.appendChild(hiddenField);

            hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", "temperature");
            hiddenField.setAttribute("value", temperature);
            form.appendChild(hiddenField);

            document.body.appendChild(form);
            form.submit();
        }

        $( document ).ready(function () {
            {% if 1 == manual_on %}
                $("#manual_on_button").addClass("red");
            {% endif %}        
            
            {% if 1 == manual_off %}
                $("#manual_off_button").addClass("blue");
            {% endif %}

            {% if heatRunning %}
                $("#heatIndicator").addClass("red");
            {% endif %}


            window.setInterval(function () {
                $.ajax({
                    url: "/update",
                    context: document.body
                }).done(function(data) {
                    heatRunning = data["heatRunning"];
                    indoorTemperature = data["currentTemperature"];
                    currentTarget = data["currentTarget"];
                    manual_on = data["manual_on"];
                    manual_off = data["manual_off"];


                    $("#indoorTemperature").text(indoorTemperature +
                        String.fromCharCode(176));
                    $("#targetTemperature").text(currentTarget +
                        String.fromCharCode(176));

                    if (heatRunning) {
                        $("#heatIndicator").addClass("red");
                    } else {
                        $("#heatIndicator").removeClass("red");
                    }

                });
            }, 20000);
        });
    </script>

</head>
<body id="contentBody" class="mainContent">
    <div class="container">
        <div class="p-3 mb-2 bg-dark text-white">
            <fieldset class="col-sm-4">
        <table id="targetTable">
                <tr>
                    <td class="center targetCell">
                        <button id="heatIndicator" class="btn btn-outline-danger">
                        </button>
                    </td>
                </tr>
                <tr>
                    <button id="manual_on_button" class="btn btn-success" onclick="manual_on_toggle(true)">
                            On
                        </button>
                        <button id="manual_off_button" class="btn btn-danger" onclick="manual_off_toggle(true)">
                            Off
                        </button>
                </tr>
            </table>
            </fieldset>
        </div>
        </div>
    <div class = "container">
    <div class="jumbotron">
        <h1 class="display-4" id="indoorTemperature">{{ currentTemperature }}&deg;</h1>
    </div>
    </div>

    <div>
        <table id="temperatureTable" class="left">
            <tbody>
                <tr>
                    <td>
                        <h2>Indoor Temperature:</h2>
                    </td>
                    <td>
                        <h1 id="indoorTemperature">{{ currentTemperature }}&deg;</h1>
                    </td>

                </tr>
                <tr>
                    <td>
                        <h2>Target Temperature:</h2>
                    </td>
                    <td>
                        <h1 id="targetTemperature">{{ currentTarget }}&deg;</h1>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="ui form">
        <table id="targetTable">
            <tbody>
                <tr>
                    <td>
                    </td>
                    <td class="center targetCell">
                        <button id="heatIndicator" class="huge circular ui icon disabled button">
                        </button>
                    </td>
                </tr>
                <tr>
                    <td class="modeCell targetCell">
                        <button id="manual_on_button" class="massive ui button modeButton" onclick="manual_on_toggle(true)">
                        On
                        </button>
                    </td>
                    <td class="modeCell targetCell">
                        <button id="manual_off_button" class="massive ui button modeButton" onclick="manual_off_toggle(true)">
                        Off
                        </button>
                    </td>
                </tr>

                <tr>
                    <td class="center">
                        <button id="down1" class="large ui left icon button blue" style="margin-top: 24px;" onclick="ChangeTemperature(-1)">
                            <i class="left caret icon"></i>
                            -1
                        </button>
                    </td>
                    <td class="targetCell center">
                        <div class="massive ui input" style="width: 125px">
                            <input id="temperatureInput" value= {{ currentTarget }} type="text" style="text-align: center;">
                        </div>
                    </td>
                    <td class="center">
                        <button id="up1" class="large ui right icon button red" style="margin-top: 24px;" onclick="ChangeTemperature(1)">
                            +1
                            <i class="right caret icon"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td class="targetCell center" colspan="3">
                        <button id="submitButton" class="massive ui button violet" onclick="SubmitTargets()">
                        Submit Changes
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>