<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>PyStat</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/css-toggle-switch@latest/dist/toggle-switch.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-bootstrap/0.5pre/assets/css/docs.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-Knob/1.2.13/jquery.knob.min.js"></script>

    <script type="text/javascript">
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

    <script>
        $(function ($) {

            $(".knob").knob({
                change: function (value) {
                    //console.log("change : " + value);
                },
                release: function (value) {
                    //console.log(this.$.attr('value'));
                    console.log("release : " + value);
                },
                cancel: function () {
                    console.log("cancel : ", this);
                },
                /*format : function (value) {
                    return value + '%';
                    },*/
                draw: function () {

                    // "tron" case
                    if (this.$.data('skin') == 'tron') {

                        this.cursorExt = 0.3;

                        var a = this.arc(this.cv)  // Arc
                            , pa                   // Previous arc
                            , r = 1;

                        this.g.lineWidth = this.lineWidth;

                        if (this.o.displayPrevious) {
                            pa = this.arc(this.v);
                            this.g.beginPath();
                            this.g.strokeStyle = this.pColor;
                            this.g.arc(this.xy, this.xy, this.radius - this.lineWidth, pa.s, pa.e, pa.d);
                            this.g.stroke();
                        }

                        this.g.beginPath();
                        this.g.strokeStyle = r ? this.o.fgColor : this.fgColor;
                        this.g.arc(this.xy, this.xy, this.radius - this.lineWidth, a.s, a.e, a.d);
                        this.g.stroke();

                        this.g.lineWidth = 2;
                        this.g.beginPath();
                        this.g.strokeStyle = this.o.fgColor;
                        this.g.arc(this.xy, this.xy, this.radius - this.lineWidth + 1 + this.lineWidth * 2 / 3, 0, 2 * Math.PI, false);
                        this.g.stroke();

                        return false;
                    }
                }
            });

            // Example of infinite knob, iPod click wheel
            var v, up = 0, down = 0, i = 0
                , $idir = $("div.idir")
                , $ival = $("div.ival")
                , incr = function () { i++; $idir.show().html("+").fadeOut(); $ival.html(i); }
                , decr = function () { i--; $idir.show().html("-").fadeOut(); $ival.html(i); };
            $("input.infinite").knob(
                {
                    min: 0
                    , max: 20
                    , stopper: false
                    , change: function () {
                        if (v > this.cv) {
                            if (up) {
                                decr();
                                up = 0;
                            } else { up = 1; down = 0; }
                        } else {
                            if (v < this.cv) {
                                if (down) {
                                    incr();
                                    down = 0;
                                } else { down = 1; up = 0; }
                            }
                        }
                        v = this.cv;
                    }
                });
        });
    </script>

    <script type="text/javascript">


        function ChangeTemperature(amount) {
            var temperatureInput = $("#temperatureInput");
            var temperature = parseFloat(temperatureInput.val());
            temperature += amount;
            temperatureInput.val(temperature.toFixed(1))
        }

        function SubmitTargets() {
            var form = document.createElement("form");
            form.setAttribute("method", "post");
            form.setAttribute("action", "");


            var manual_on = 0;
            if (document.getElementById("manual_on").checked == true) {
                manual_on = 1;
                }

             var manual_off = 0;
                if (document.getElementById("manual_off").checked == true) {
                manual_off = 1;  
                }

            var temperature = $("#temperatureInput").val();

            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", "manual_on");
            hiddenField.setAttribute("value", manual_on);
            form.appendChild(hiddenField);

            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", "manual_off");
            hiddenField.setAttribute("value", manual_off);
            form.appendChild(hiddenField);

            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", "awake");
            hiddenField.setAttribute("value", awake);
            form.appendChild(hiddenField);

            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", "bedtime");
            hiddenField.setAttribute("value", bedtime);
            form.appendChild(hiddenField);

            hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", "temperature");
            hiddenField.setAttribute("value", temperature);
            form.appendChild(hiddenField);

            document.body.appendChild(form);
            form.submit();
        }

        function UpdateWeather(currentWeatherTemp, currentWeatherSummary, todaySummary,
                               todayMax, todayMin, todayPrecipProbability) {
            weatherPanel = $("#weatherPanel")
            weatherUnavailable = $("#weatherUnavailable")

            if (null === currentWeatherTemp || null === currentWeatherSummary ||
                null === todaySummary || null === todayMax ||
                null === todayMin || null === todayPrecipProbability) {

                weatherPanel.removeClass("weatherPanel")
                weatherPanel.addClass("hidden");

                weatherUnavailable.addClass("weatherPanel")
                weatherUnavailable.removeClass("hidden");
            } else {
                weatherUnavailable.removeClass("weatherPanel")
                weatherUnavailable.addClass("hidden");

                weatherPanel.addClass("weatherPanel")
                weatherPanel.removeClass("hidden");

                // update values
                $("#currentWeatherTemp").text(currentWeatherTemp + '\xB0');
                $("#currentWeatherSummary").text(currentWeatherSummary);
                $("#todayWeatherSummary").text(todaySummary);
                $("#todayWeatherTemp").text(todayMax + '\xB0 / ' + todayMin + '\xB0');
            }
        }

        $( document ).ready(function () {
            width = $("#targetTable").width();

            $("#contentBody").width(width);
            $("#temperatureTable").width(width);
            $("#weatherPanel").width(width);
            $("#weatherUnavailable").width(width);

            $("#wp1").width(width / 2);
            $("#wp2").width(width / 2);

            currentWeatherTemp = "{{ currentWeatherTemp }}";
            currentWeatherSummary = "{{ currentWeatherSummary }}";
            todaySummary = "{{ todaySummary }}";
            todayMax = "{{ todayMax }}";
            todayMin = "{{ todayMin }}";
            todayPrecipProbability = "{{ todayPrecipProbability }}";

            if ("None" === currentWeatherTemp || "None" === currentWeatherSummary ||
                "None" === todaySummary || "None" === todayMax ||
                "None" === todayMin || "None" === todayPrecipProbability) {

                currentWeatherTemp = null;
            }
            UpdateWeather(currentWeatherTemp, currentWeatherSummary, todaySummary,
                          todayMax, todayMin, todayPrecipProbability);

            {% if heatRunning %}
                $("#heatIndicator").addClass("red");
            {% endif %}


            window.setInterval(function () {
                $.ajax({
                    url: "/update",
                    context: document.body
                }).done(function(data) {
                    heatRunning = data["heatRunning"];
                    indoorTemperature = data["currentTemperature"];
                    currentTarget = data["currentTarget"];
                    manual_on = data["manual_on"];
                    manual_off = data["manual_off"];
                    awake = data["awake"];
                    bedtime = data["bedtime"];

                    $("#indoorTemperature").text(indoorTemperature +
                        String.fromCharCode(176));
                    $("#targetTemperature").text(currentTarget +
                        String.fromCharCode(176));

                    if (heatRunning) {
                        $("#heatIndicator").addClass("red");
                    } else {
                        $("#heatIndicator").removeClass("red");
                    }


                    // update weather panel
                    currentWeatherTemp = data["currentWeatherTemp"];
                    currentWeatherSummary = data["currentWeatherSummary"];
                    todaySummary = data["todaySummary"];
                    todayMax = data["todayMax"];
                    todayMin = data["todayMin"];
                    todayPrecipProbability = data["todayPrecipProbability"];
                    UpdateWeather(currentWeatherTemp, currentWeatherSummary, todaySummary,
                                  todayMax, todayMin, todayPrecipProbability);
                });
            }, 20000);
        });

        function set_radio() {
            {% if 1 == manual_on %}
                document.getElementById("manual_on").checked = true;
            {% endif %}

            {% if 1 == manual_off %}
            document.getElementById("manual_off").checked = true;
            {% endif %}
            }
    </script>

    <style>
        .center {
            margin: auto;
            width: 60%;
            padding: 10px;
        }
    </style>

</head>
<body id="contentBody" class="mainContent">

<div class="container">
    <div class="p-3 mb-2 bg-dark text-white">
        <fieldset class="col-sm-4">
            <h3>Power</h3>
            <div class="switch-toggle alert alert-dark font-weight-bold">
                <input id="manual_on" name="toggle" type="radio">
                <label for="manual_on" onclick="set_radio(true)">On</label>

                <input id="manual_off" name="toggle" type="radio">
                <label for="manual_off" onclick="set_radio(true)">Off</label>

                <a class="btn btn-info"></a>
            </div>
        </fieldset>
    </div>
</div>
<div class="container">
    <div class="p-3 mb-2 bg-dark text-white">
        <fieldset class="col-sm-4">
            <h3>Temperature</h3>
            <table class="left" id="temperatureTable">
                <tbody>
                    <tr>
                        <td>
                            <h6>Inside:</h6>
                        </td>
                        <td>
                            <h6 id="indoorTemperature">&deg;</h6>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h6>Target:</h6>
                        </td>
                        <td>
                            <h6 id="targetTemperature"></h6>
                        </td>
                    </tr>
                </tbody>
            </table>
        </fieldset>
    </div>
</div>
    <div>
        <table id="temperatureTable" class="left">
            <tbody>
                <tr>
                    <td>
                        <h2>Indoor Temperature:</h2>
                    </td>
                    <td>
                        <h1 id="indoorTemperature">{{ currentTemperature }}&deg;</h1>
                    </td>

                </tr>
                <tr>
                    <td>
                        <h2>Target Temperature:</h2>
                    </td>
                    <td>
                        <h1 id="targetTemperature">{{ currentTarget }}&deg;</h1>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="ui form">
        <table id="targetTable">
            <tbody>
                <tr>
                    <td>
                    </td>
                    <td class="center targetCell">
                        <button id="heatIndicator" class="huge circular ui icon disabled button">
                        </button>
                    </td>
                </tr>
                <tr>
                    <td class="modeCell targetCell">
                        <button id="manual_on_button" class="massive ui button modeButton" onclick="manual_on_toggle(true)">
                        On
                        </button>
                    </td>
                    <td class="modeCell targetCell">
                        <button id="manual_off_button" class="massive ui button modeButton" onclick="manual_off_toggle(true)">
                        Off
                        </button>
                    </td>
                </tr>
                <tr>
                    <td class="modeCell targetCell">
                        <button id="awake_button" class="massive ui button modeButton" onclick="awake_toggle(true)">
                        Awake
                        </button>
                    </td>
                    <td class="modeCell targetCell">
                        <button id="bedtime_button" class="massive ui button modeButton" onclick="bedtime_toggle(true)">
                        Bedtime
                        </button>
                    </td>
                </tr>
                <tr>
                    <td class="center">
                        <button id="down1" class="large ui left icon button blue" style="margin-top: 24px;" onclick="ChangeTemperature(-1)">
                            <i class="left caret icon"></i>
                            -1
                        </button>
                    </td>
                    <td class="targetCell center">
                        <div class="massive ui input" style="width: 125px">
                            <input id="temperatureInput" value={{ currentTarget }} type="text" style="text-align: center;">
                        </div>
                    </td>
                    <td class="center">
                        <button id="up1" class="large ui right icon button red" style="margin-top: 24px;" onclick="ChangeTemperature(1)">
                            +1
                            <i class="right caret icon"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td class="targetCell center" colspan="3">
                        <button id="submitButton" class="massive ui button violet" onclick="SubmitTargets()">
                        Submit Changes
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="weatherPanel" class="center">
        <table class="weatherPanel">
            <tr>
                <th id="wp1"></th>
                <th id="wp2"></th>
            </tr>
            <tr>
                <td>
                    <h2>Currently:</h2>
                </td>
                <td>
                    <h2>Today:</h2>
                </td>
            </tr>
            <tr>
                <td>
                    <h2 id="currentWeatherTemp"></h2>
                </td>
                <td>
                    <h2 id="todayWeatherTemp"></h2>
                </td>
            </tr>
            <tr>
                <td>
                    <h2 id="currentWeatherSummary"></h2>
                </td>
                <td>
                    <h2 id="todayWeatherSummary"></h2>
                </td>
            </tr>
        </table>
    </div>
    <div id="weatherUnavailable" class="weatherPanel center hidden"></div>
</body>
</html>