[Unit]
Description=Python temp reader
After=multi-user.target

[Service]
Type = idle
ExecStart=/usr/bin/python3 -u /home/pi/git/rasp_pi_heater_read/temp_reader.py
WorkingDirectory=/home/pi/git/rasp_pi_heater_read
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
