[Unit]
Description=Python temp reader
After=multi-user.target

[Service]
Type = simple
ExecStart=/usr/bin/python3 -u /home/pi/git/temp_relay/relay/temp_reader.py
WorkingDirectory=/home/pi/git/temp_relay/heater_temp_reader
StandardOutput=inherit
StandardError=inherit
Restart=on-failure
User=pi

[Install]
WantedBy=multi-user.target
