<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Thermostat</title>
    <script src="{{ url_for('static', filename='jquery-3.4.1.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap4-toggle.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap4-toggle.min.css') }}">

    <script type="text/javascript" src="{{ url_for('static', filename='loader.js') }}"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        //google.charts.load('current', { 'packages': ['line'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
                var jsonData = $.ajax({
                    url: "/temps",
                    dataType: "json",
                    async: false
                }).responseText;

                // Create our data table out of JSON data loaded from server.
                var data = new google.visualization.DataTable(jsonData);
        
                var options = {
                title: "",
                curveType: 'function',
                width: 650, 
                height: 350,
                fontsize: 36,
                fontName: 'Roboto',
                pointsize: 10,
                theme: 'material',
                interpolateNulls: true,
                hAxis:
                    {
                        gridlines: {
                            color: 'transparent'
                        },
                        textStyle: {
                            color: "white"
                        }
                    },
                vAxis: {
                        // gridlines: {
                        //     color: 'transparent'
                        // },
                        gridlines: {
                            color: 'transparent'
                        },
                        textStyle: {
                            color: "white"
                        }
                    },

                legend: {position: 'none'},
                backgroundColor: '#343a40' ,
                series: {
                        0: { color: 'yellow' },
                        1: { color: '#1c91c0', lineDashStyle: [4, 1] },
                        2: { color: '#6f9654', lineDashStyle: [4, 1] }
                    },
                lineWidth: 4
                
                 };
            

                // Instantiate and draw our chart, passing in some options.

                //var chart = new google.charts.Line(document.getElementById('chart_div'));
                //chart.draw(data, google.charts.Line.convertOptions(options));

                var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
                chart.draw(data, options);
            
                 }
        </script>


    </script>
    
    <script type="text/javascript">

        $(function () {
            $('#power_switch').change(function () {
                SubmitTargets()
            })
        })

        // $('#power_switch').click(function () {
        //     $(this).bootstrapToggle('toggle');
        //     SubmitTargets();
        // });

        // var power = $('#power_switch');
        // power.click(function () {
        //     {% if powerMode == 1 %}
        //         $(this).checked = true;
        //     {% else %}
        //         $(this).checked = false;
        //     {% endif %}
        //     SubmitTargets();
        // });
        // function toggle() {
        //     $('#power_switch').bootstrapToggle('toggle');
        //     SubmitTargets();
        //     };

    
        function ChangeTemperature(amount) {
            var temperatureInput = $("#temperatureInput");
            var temperature = parseFloat(temperatureInput.val());
            temperature += amount;
            temperatureInput.val(temperature.toFixed());
            SubmitTargets();

        }

        function SubmitTargets() {
            var form = document.createElement("form");
            form.setAttribute("method", "post");
            form.setAttribute("action", "");

            var power = 0;
            if ($('#power_switch').prop('checked')) {
                power = 1;
            } 

            var temperature = $("#temperatureInput").val();

            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", "power");
            hiddenField.setAttribute("value", power);
            form.appendChild(hiddenField);

            hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", "temperature");
            hiddenField.setAttribute("value", temperature);
            form.appendChild(hiddenField);

            document.body.appendChild(form);
            form.submit();
        }

        $(document).ready(function () {

            {% if heatRunning == 1 %}
            document.getElementById("heatIndicator").style.display = "inline";
            {% else %}
            document.getElementById("heatIndicator").style.display = "none";
            {% endif %}

            window.setInterval(function () {
                $.ajax({
                    url: "/update",
                    context: document.body
                }).done(function (data) {
                    heatRunning = data["heatRunning"];
                    indoorTemperature = data["currentTemperature"];
                    currentTarget = data["currentTarget"];
                    powerMode = data["powerMode"];

                    $("#indoorTemperature").text(indoorTemperature +
                        String.fromCharCode(176));
                    $("#targetTemperature").text(Math.round(currentTarget) +
                        String.fromCharCode(176));

                    {% if heatRunning == 1 %}
                    document.getElementById("heatIndicator").style.display = "inline";
                    {% else %}
                    document.getElementById("heatIndicator").style.display = "none";
                    {% endif %}

                    {% if PowerMode == 1 %}
                    document.getElementById('power_switch').checked = true;
                    {% else %}
                    document.getElementById('power_switch').checked = false;
                    {% endif %}

                });
            }, 10000);
        });
    </script>

</head>
<body id="contentBody" class="mainContent">

    <div class="container-fluid">
        <div class="p-3 mb-2 bg-dark text-white">
            <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#collapseExample"
                aria-expanded="false" aria-controls="collapseExample">
                Controls
            </button>
        </div>
    </div>
    <div class="collapse" id="collapseExample">
        <div class="container-fluid">
            <div class="p-3 mb-2 bg-dark text-white">
                <h4>Power</h4>
                <div class="row align-items-center justify-content-center">
                    <div class="col-2 col-md-2"></div>
                    <div class="col-8 col-md-8 text-center">
                        <input type="checkbox" id="power_switch" data-toggle="toggle" data-on="Heater On" data-off="Off"
                            data-onstyle="danger" data-offstyle="primary" data-style="fast" data-height="40"
                            data-width="120" {% if powerMode == 1 %} checked {% else %} {% endif %}>
    
                    </div>
                    <div class="col-2 col-md-2 justify-content-top">
                        <span id="heatIndicator" class="badge badge-pill badge-danger">Heating</span>
    
                    </div>
    
                </div>
                <br>
                <hr class="divider">
                <h4>Target</h4>
                <div class="row align-items-center justify-content-center">
    
                    <div class="col-5 col-md-5 text-center">
                        <button id="down1" class="btn btn-primary modeButton" onclick="ChangeTemperature(-1)">
                            -
                        </button>
                    </div>
                    <div class="col-2 col-md-2 text-center">
    
                        <input class="form-control-temp" id="temperatureInput" value={{ currentTarget }} type="text">
    
    
                    </div>
                    <div class="col-5 col-md-5 text-center">
                        <button id="up1" class="btn btn-danger modeButton" onclick="ChangeTemperature(1)">
                            +
                        </button>
    
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>

<div class="container-fluid">
    <div class="p-3 mb-2 bg-dark block text-white">
        <div class="row block ">
            <div class="col-3 col-md-3">
                <h4>Inside</h4>
                <h5 class="currentTemp" id="indoorTemperature">{{ currentTemperature }}&deg;</h5>
                <hr class="divider">

                <h4>Outside</h4>
                <h5 class="outsideTemp" id="outsideTemperature">{{ outside_temp }}&deg;</h5>
                <h4>Feels Like</h4>
                <h5 class="feelsLike" id="feelsLike">{{ feels_like }}&deg;</h5>
            </div>
            <div class="col-9 col-md-9">

                <div id="chart_div"></div>
            </div>

        </div>
    </div>
</div>
  
    









    <div class="container-fluid">
        <div class="p-3 mb-2 bg-dark text-white">
            <div class="display-4">Power</div>
            <div class="row block align-items-center justify-content-center">
                <div class="col-2"></div>
                <div class="col-8 text-center">
                    <input type="checkbox" id="power_switch" data-toggle="toggle" data-on="Heater On" data-off="Off"
                        data-onstyle="danger" data-offstyle="primary" data-style="fast" data-height="120" data-width="150"
                        {% if powerMode == 1 %} checked {% else %} {% endif %}>
    
                </div>
                <div class="col-2 justify-content-top">
                    <span id="heatIndicator" class="badge badge-pill badge-danger">Heating</span>
    
                </div>
    
            </div>
    
        </div>
    </div>
    <div class="container-fluid">
        <div class="p-3 mb-2 bg-dark text-white">
            <div class="display-4">Target</div>
            <div class="row block align-items-center justify-content-center">
                <div class="col-5 text-center">
                    <button id="down1" class="btn btn-primary modeButton" onclick="ChangeTemperature(-1)">
                        -
                    </button>
                </div>
                <div class="col-2 text-center">
    
                    <input class="form-control-temp" id="temperatureInput" value={{ currentTarget }} type="text">
    
    
                </div>
                <div class="col-5 text-center">
                    <button id="up1" class="btn btn-danger modeButton" onclick="ChangeTemperature(1)">
                        +
                    </button>
    
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="p-3 mb-2 bg-dark text-white">
            <div class="display-4">Current</div>
            <div class="row tempBlock align-items-center justify-content-center">
                <div class="col text-center">
                    <p class="currentTemp" id="indoorTemperature">{{ currentTemperature }}&deg;</h1>
                </div>
            </div>
        </div>
    </div>
    </div>

    </div>
        <div class="container-fluid">
            <div class="p-3 mb-2 bg-dark text-white">
                <div id="chart_div"></div>
            </div>
        
        </div>

</body>

<style>
.form-control-temp {
    font-size: 350%;
    background-color: #343a40;
    color: white;
    border: 0;
    box-shadow: none;
    text-align: center;
    width: 100%;
    height: 65%;/* You may want to include this as bootstrap applies these styles too */
}

.currentTemp {
    font-size: 100%;
    background-color: #343a40;
    color: white;
    border: 0;
    box-shadow: none;
    text-align: center;
}
.modeButton {
    width: 50px;
    height: 50px;
}

.fast  .toggle-group { transition: left 0.1s; -webkit-transition: left 0.1s; }

.block {
    height: 380px;
    margin-bottom: 30px;
}

.tempBlock {
    height: 100px;
    margin-bottom: 30px;
}

.smTempBlock {
    height:100px;
    margin-bottom: 30px;
}

hr.divider {
  border: 1px solid white;
}
</style>
</html>