<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Thermostat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap4-toggle.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap4-toggle.min.css') }}">


    <script type="text/javascript">

        // $(function () {
        //     $('#power_switch').change(function () {
        //         SubmitTargets()
        //     })
        // })

        $('power_switch').click(function () {
            $(this).bootstrapToggle('toggle');
            SubmitTargets();
        });


        function toggle() {
            $('power_switch').bootstrapToggle('toggle');
            SubmitTargets();
            }

    
        function ChangeTemperature(amount) {
            var temperatureInput = $("#temperatureInput");
            var temperature = parseFloat(temperatureInput.val());
            temperature += amount;
            temperatureInput.val(temperature.toFixed());
            SubmitTargets();

        }

        function SubmitTargets() {
            var form = document.createElement("form");
            form.setAttribute("method", "post");
            form.setAttribute("action", "");

            var power = 0;
            if ($('#power_switch').prop('checked')) {
                power = 1;
            } 

            var temperature = $("#temperatureInput").val();

            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", "power");
            hiddenField.setAttribute("value", power);
            form.appendChild(hiddenField);

            hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", "temperature");
            hiddenField.setAttribute("value", temperature);
            form.appendChild(hiddenField);

            document.body.appendChild(form);
            form.submit();
        }

        $(document).ready(function () {

            {% if heatRunning == 1 %}
            document.getElementById("heatIndicator").style.display = "inline";
            {% else %}
            document.getElementById("heatIndicator").style.display = "none";
            {% endif %}

            window.setInterval(function () {
                $.ajax({
                    url: "/update",
                    context: document.body
                }).done(function (data) {
                    heatRunning = data["heatRunning"];
                    indoorTemperature = data["currentTemperature"];
                    currentTarget = data["currentTarget"];
                    powerMode = data["powerMode"];

                    $("#indoorTemperature").text(indoorTemperature +
                        String.fromCharCode(176));
                    $("#targetTemperature").text(round(float(currentTarget),0) +
                        String.fromCharCode(176));

                    {% if heatRunning == 1 %}
                    document.getElementById("heatIndicator").style.display = "inline";
                    {% else %}
                    document.getElementById("heatIndicator").style.display = "none";
                    {% endif %}


                });
            }, 20000);
        });
    </script>

</head>
<body id="contentBody" class="mainContent">
    <div class="container-fluid">
        <div class="p-3 mb-2 bg-dark text-white">
            <div class="display-4">Power</div>
            <div class="row block align-items-center justify-content-center">
                <div class="col-2"></div>
                <div class="col-8 text-center">
                    <input type="checkbox" id="power_switch" data-toggle="toggle" data-on="Heater On" data-off="Off"
                        data-onstyle="danger" data-offstyle="primary" data-style="fast" data-height="120" data-width="150"
                        {% if powerMode == 1 %} checked {% else %} {% endif %}>
    
                </div>
                <div class="col-2 justify-content-top">
                    <span id="heatIndicator" class="badge badge-pill badge-danger">Heating</span>
    
                </div>
    
            </div>
    
        </div>
    </div>
    <div class="container-fluid">
        <div class="p-3 mb-2 bg-dark text-white">
            <div class="display-4">Target</div>
            <div class="row block align-items-center justify-content-center">
                <div class="col-5 text-center">
                    <button id="down1" class="btn btn-primary modeButton" onclick="ChangeTemperature(-1)">
                        -
                    </button>
                </div>
                <div class="col-2 text-center">
    
                    <input class="form-control-temp" id="temperatureInput" value={{ currentTarget }} type="text">
    
    
                </div>
                <div class="col-5 text-center">
                    <button id="up1" class="btn btn-danger modeButton" onclick="ChangeTemperature(1)">
                        +
                    </button>
    
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="p-3 mb-2 bg-dark text-white">
            <div class="display-4">Current</div>
            <div class="row tempBlock align-items-center justify-content-center">
                <div class="col text-center">
                    <p class="currentTemp" id="indoorTemperature">{{ currentTemperature }}&deg;</h1>
                </div>
            </div>
        </div>
    </div>



</body>

<style>
.form-control-temp {
    font-size: 350%;
    background-color: #343a40;
    color: white;
    border: 0;
    box-shadow: none;
    text-align: center;
    width: 100%;
    height: 65%;/* You may want to include this as bootstrap applies these styles too */
}

.currentTemp {
    font-size: 350%;
    background-color: #343a40;
    color: white;
    border: 0;
    box-shadow: none;
    text-align: center;
}
.modeButton {
    width: 100px;
    height: 100px;
}

.fast  .toggle-group { transition: left 0.1s; -webkit-transition: left 0.1s; }

.block {
    height: 300px;
    margin-bottom: 30px;
}

.tempBlock {
    height: 100px;
    margin-bottom: 30px;
}

.smTempBlock {
    height:100px;
    margin-bottom: 30px;
}

</style>
</html>